@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap');

* {
    box-sizing: border-box;


}

body {
    font-family: 'Poppins',
        sans-serif;
    background-color: #dcdde1;
}

.course {
    margin: auto;
    text-align: center;
    padding-top: 20px;
    width: 80%;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    border: 2px solid #0652DD;
    background-color: #0652DD;
    color: white;
    border-radius: 10px;
}

/* .after_head {
    color: #000;
    font-size: 18px;
} */

p {
    color: black;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    padding: 5px;
    background-color: white;
}

.row {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    

}

.col {
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    margin: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;

}

.col a {
    text-decoration: none;
    font-weight: 600;
    color: white;
    cursor: pointer;
    font-size: 15px;
    line-height: 2px;

}

/* h2 {
    text-align: center;
    height: 50px;
    color: black;
} */

.col:hover {
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 1);
    transform: scale(1.05);
}



.ribbon {
    position: relative;
    padding: 0 0.5em;
    font-size: 2.000em;
    margin: 0 0 0 -0.625em;
    line-height: 1.6em;
    color: black;
    border-radius: 0 0.156em 0.156em 0;
    background: #0652DD;
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.5);
}

.ribbon:before,
.ribbon:after {
    position: absolute;
    content: '';
    display: block;
}

.ribbon:before {
    width: 0.469em;
    height: 100%;
    padding: 0 0 0.438em;
    top: 0;
    left: -0.469em;
    background: inherit;
    border-radius: 0.313em 0 0 0.313em;
}

.ribbon:after {
    width: 0.313em;
    height: 0.313em;
    background: rgba(0, 0, 0, 0.35);
    bottom: -0.313em;
    left: -0.313em;
    border-radius: 0.313em 0 0 0.313em;
    box-shadow: inset -1px 2px 2px rgba(0, 0, 0, 0.3);
}

@media (max-width:900px) {
    .row {
        grid-template-columns: repeat(3, 1fr);

    }

}

@media (max-width: 700px) {
    .row {
        grid-template-columns: repeat(2, 1fr);
        /* column-gap: 5px; */
    }

    p {
        font-size: 12px;
    }

    .col a {
        font-size: 14px;
    }

    h2 {
        line-height: 2px;
    }
}

@media (max-width: 600px) {

    body {
        font-size: 0.875em;
    }

    .ribbon {
        line-height: 1.143em;
        padding: 0.5em;
    }

    .ribbon:before,
    .ribbon:after {
        font-size: 0.714em;
    }


}