@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@100;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@100;300;400;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Lato',
        sans-serif;
    font-family: 'Poppins',
        sans-serif;
}


body {
    background-color: lightgray;


}

.containerr {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px;
    height: 90vh;

}



h1 {
    color: darkgreen;
    font-weight: 600;
}

p {
    text-align: center;
}

.btn {
    background-color: darkgreen;
    color: white;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px 10px;
    border: none;

}

.fa-retweet {
    color: whitesmoke;
    font-size: 1.0rem;
}

.fa-gg-circle {
    font-size: 1.9rem;

}

li a {
    /* color: darkgreen  !important; */
    font-weight: 600 !important;
    font-family: sans-serif;

}

#navbarScroll {
    margin-left: 60px;
}

.btn:hover {
    color: white;
    background-color: darkgreen;

}

.currency {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.currency select {
    padding: 5px 5px;
    font-size: 16px;
    background: transparent;
    border: 1px solid gray;
    font-weight: 600;
}

.currency select option {
    background-color: lightgray;

}

.currency input {
    border: 0;
    background: transparent;
    font-size: 24px;
    text-align: right;
    font-weight: 600;
}

/* .currency .inp-2{
    color: darkgreen;
    
} */

#swap-rates-container {
    display: flex;
    flex-direction: row;
    place-items: center;
    align-items: center;
    justify-content: space-between;

}

.rate {
    color: black;
    font-size: 16px;
    padding: 0px 35px;
    font-weight: 600;

}

/* Standard Api css */

#table-body {
    font-size: 14px;
    font-weight: 600;
}

.contain {
    height: 50vh;
    overflow-y: scroll;
}

.contain::-webkit-scrollbar {
    width: 1em;
}

.contain::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.contain::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}


select:focus,
input:focus,
button:focus {
    outline: 0;
}

/* Responsiveness for medium screens*/
@media only screen and (max-width: 750px) {

    .currency {
        flex-direction: column;

    }

    .currency input {
        flex-direction: column;
        margin-top: 20px;



    }

}

@media only screen and (max-width: 600px) {

    /* .navbar-brand i {
        font-size: 1.4rem;
    } */

    button.navbar-toggler {

        font-size: 1.0rem;
    }

    h1 {
        text-align: center;
        font-size: 22px;
        font-weight: 700;
    }

    p {
        text-align: center;
        font-size: 13px;
        margin-top: 8px;
    }

    .currency {
        padding: 15px 0;
    }

    .currency input {
        font-size: 17px;
        margin-top: 15px;
        width: 270px;


    }

    .currency select {
        font-size: 15px;
        width: 270px;

    }

    .currency select option {
        font-size: 12px;
        /* width: 100px; */
        background-color: lightgray;
        font-weight: 600;

    }

    .rate {
        font-size: 15px;
        padding: 0 8px;
    }

    .btn {
        font-size: 13px;
    }

    .fa-retweet {
        font-size: 0.9rem;
    }


}