@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap');

:root{
    --success-color:#009432;
    --error-color: #EA2027;
}

* {
    box-sizing: border-box;

}

body {
    background-color: whitesmoke;
    font-family: 'Poppins',
        sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    
}

.container{
    background-color: white;
    border-radius:10px;
    /* padding: 10px 10px; */
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    width: 65vh;

}

h2{
    text-align: center;
    margin: 0 0 20px;
}

.form{
    padding: 30px 40px;
} 

.form-control{
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;

}

.form-control label{
    color: #777;
    display: block;
    margin-bottom:5px ;
}

.form-control input{
    border: 2px solid whitesmoke;
    border-radius: 5px;
    display: block;
    min-width: 100%;
    padding: 10px;
    font-size: 14px;
}

.form-control input:focus{
    outline: none;
    border-color:#777 ;
}

.form button{
    width: 100%;
    padding: 10px;
    font-weight: 600;
    background-color: var(--success-color);
    border: 2px solid var(--success-color);
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    display: block;
    font-size: 16px;
}

.form-control.success input{
    border-color: var(--success-color)
}

.form-control.error input 
{
    border-color: var(--error-color) 
}

.form-control small{
    color:var(--error-color);
    position: absolute;
    bottom: 4;
    left: 0;
    visibility: hidden;
}

.form-control.error small{
    visibility: visible;
}